<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DiDa_List_PC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="DiDaDemo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DiDa_List_PC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="DiDaDemo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <DiDa_List_PC.Properties.Settings>
            <setting name="BootValue" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Defaultlist" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowSize" serializeAs="String">
                <value>1300, 800</value>
            </setting>
            <setting name="HideEdgeValue" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TimedTaskValue" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="WindowSize_Mini" serializeAs="String">
                <value>500, 800</value>
            </setting>
            <setting name="IsSetShortcutKey" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GitHubVersionXPath" serializeAs="String">
                <value>//div[@class='release-entry'][1]/div/div[1]/ul/li[1]/a</value>
            </setting>
            <setting name="GithubUrl" serializeAs="String">
                <value>https://github.com/niujunliang/DiDa_List_PC/releases</value>
            </setting>
        </DiDa_List_PC.Properties.Settings>
        <DiDaDemo.Properties.Settings>
            <setting name="BootValue" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Defaultlist" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowSize" serializeAs="String">
                <value>1300, 800</value>
            </setting>
            <setting name="HideEdgeValue" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TimedTaskValue" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="WindowSize_Mini" serializeAs="String">
                <value>500, 800</value>
            </setting>
        </DiDaDemo.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <DiDa_List_PC.Properties.Settings>
            <setting name="WindowMaxSize" serializeAs="String">
                <value>1300, 800</value>
            </setting>
            <setting name="WindowMinSize" serializeAs="String">
                <value>500, 700</value>
            </setting>
            <setting name="Name" serializeAs="String">
                <value>滴答清单</value>
            </setting>
            <setting name="Timer_AutoSideHide_Interval" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="SideThicknessValue" serializeAs="String">
                <value>9</value>
            </setting>
        </DiDa_List_PC.Properties.Settings>
        <DiDaDemo.Properties.Settings>
            <setting name="WindowMaxSize" serializeAs="String">
                <value>1300, 800</value>
            </setting>
            <setting name="WindowMinSize" serializeAs="String">
                <value>500, 700</value>
            </setting>
            <setting name="Name" serializeAs="String">
                <value>滴答清单</value>
            </setting>
            <setting name="Timer_AutoSideHide_Interval" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="SideThicknessValue" serializeAs="String">
                <value>9</value>
            </setting>
        </DiDaDemo.Properties.Settings>
    </applicationSettings>
</configuration>
